.inputContainer {
  text-align: center;
  padding-top: 20px;
  flex-basis: 100%;
  position: relative;
}

.queryData {
  margin: 10px 130px;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  color: azure;
  z-index: 2;
  font-size: 0.7rem;
  text-overflow: ellipsis;
  padding: 2%;
  border-radius: 20px;
}
